anthropic==0.40.0
fastapi==0.115.6
fpdf2==2.8.1
guardrails-ai==0.6.0
Jinja2==3.1.4
langchain==0.3.9
langchain-anthropic==0.3.0
langchain-community==0.3.9
openai==1.56.2
pdfkit==1.0.0
pillow==10.4.0
python-dotenv==1.0.1
python-multipart==0.0.19
requests==2.32.3
uvicorn==0.32.1
weasyprint==63.0